<footer class="mt-5 bg-footer mx-0 px-0 py-2">
    <article class=" d-flex justify-content-center my-5 " >
        <main>
            <h1 class="text-info">Ultra Store</h1>
        </main>
    </article>

    <div class=" container footer m-auto">
       
        <div class="row">

            <div class="col-md-3">
                <section class="head-list">
                    <strong class="">LET US HELP YOU</strong>
                    <ul class="my-2">
                        <li><a href="">Help Center</a></li>
                        <li><a href="">Contact US</a></li>
                        <li><a href="">How to buy on Ultra</a></li>
                        <li><a href="">How to pay in Ulta </a></li>
                        <li><a href="">Delivery Timelines</a></li>
                        <li><a href="">Return Policy</a></li>
                        <li><a href="">Report a Product</a></li>
                    </ul>
        
                </section>
                <section class="join-us container-fluid">
                    <strong> join Us On</strong>
                    <div class="icons">
                        <a href="">
                            <i class="fab fa-facebook-f fa-2x"></i>
                        </a>
                     <a href=""><i class="fab fa-instagram fa-2x"></i></a>
                        <a href=""><i class="fab fa-twitter fa-2x"></i></a>
                        
                    </div>
                </section>
            </div>
            <div class="col-md-3">
                <section class="head-list">
                    <strong class="">ABOUT ULTRA EGYPT</strong>
                    <ul class="my-2">
                        <li><a href="">About US</a></li>
                        <li><a href="">Ulta Careers</a></li>
                        <li><a href="">Privacy Policy</a></li>
                        <li><a href="">Terms And Conditions </a></li>
                        <li><a href="">Ultra Express</a></li>
                        <li><a href="">Ultra Mall</a></li>
                        <li><a href="">Ultra Logistics Services </a></li>
                    </ul>
        
                </section>
                <section class="join-us container-fluid">
                    <strong>PAYMENT METHODS</strong>
                    <div class="icons">
                        <a href="">
                            <i class="fas fa-hands fa-2x"></i>
                        </a>
                     <a href=""><i class="fab fa-cc-visa fa-2x"></i></a>
                        <a href=""><i class="fab fa-cc-mastercard fa-2x"></i></a>
                        
                    </div>
                </section>
            </div>

            <div class="col-md-3">
                <section class="head-list">
                    <strong>MAKE MONEY WITH ULTRA</strong>
                    <ul class="my-2">
                        <li><a href="">Sell on Ulta</a></li>
                        <li><a href="">Become a Logistics Service Partner</a></li>
                        <li><a href="">Become a Sales Consultant</a></li>
                     
                    </ul>
                </section>
               
            </div>
            <div class="col-md-3">
                <section class="head-list">
                    <strong class="d-flex justify-content-center mb-2">ULTRA INTERNATIONAL</strong>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="my-2">
                                <li><a href="">Allgeria</a></li>
                                <li><a href="">locry Coast</a></li>
                                <li><a href="">Ghana</a></li>
                             
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="my-2">
                                <li><a href="">Sell on Ulta</a></li>
                                <li><a href="">Become </a></li>
                                <li><a href="">Become </a></li>
                             
                            </ul>
                        </div>
                    </div>
                   
                   
                </section>
               
            </div>
          
        </div>
        </div>


       
  
  

            
            
</footer>